  @import "tailwindcss";

  @plugin "daisyui" {
    themes: light --default;
  }

  .active {
    color: blue;
    text-decoration: underline;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }